

h2 {
    text-align: center;
}

.container {
    width: 750px;
    margin: 0px auto;
    background-color: #c4dfe6;
    padding: 50px;
    
}

.button1  {
    width: 600px;
    margin: 0px auto;
    background-color: aquamarine;
    padding: 25px;
}

.button2 {
    width: 600px;
    margin: 0px auto;
    background-color: aquamarine;
    padding: 25px;
}

.button3 {
    width: 600px;
    margin: 0px auto;
    background-color: aquamarine;
    padding: 25px;
}

.button4 {
    width: 600px;
    margin: 0px auto;
    background-color: aquamarine;
    padding: 25px;
}

.button5 {
    width: 600px;
    margin: 0px auto;
    background-color: aquamarine;
    padding: 25px;
}

.button6 {
    width: 600px;
    margin: 0px auto;
    background-color: aquamarine;
    padding: 25px;
}

.button7 {
    width: 600px;
    margin: 0px auto;
    background-color: aquamarine;
    padding: 25px;
}

.button8 {
    width: 600px;
    margin: 0px auto;
    background-color: aquamarine;
    padding: 25px;
}


.input {
    padding-top: 50px;
    padding-bottom: 50px;
}

.output {
    padding-top: 50px;
    padding-bottom: 50px;
}